/* Google Font Link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

/* Intial margin and padding */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Poppins', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
/* Common Classes  */
.container{
    max-width: 1200px;
    margin: auto;
    padding:0 120px;
}

.common-button
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: 0;
    border: 0;
    Width:196px;
    Height: 44px;
    Padding: 10px, 24px, 10px, 24px;
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    cursor: pointer;
    /* box-shadow: 0 7px 0 #a5075e; */
    position: relative;
    top: 0;
    transition: box-shadow .2s ease-in;
}

/* Navigation Section  */

.nav-title
{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

/* NavBar */
.navbar
{
    display: none;
}
.shopping-cart
{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 95px; 
    align-items: center;
   
}

.navigation
{
    display: flex; 
    
}
.navigation ul{
    margin: 5px 0;
}
.navigation li{
    list-style: none;
   
}

.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    padding: 10px 17px;
    font-size: 16px;
}

.iconify
{
    font-size: 20px;
    color: black;
}

/* Header Banner */


.banner{
    margin-top: 50px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1.2fr .8fr;
    gap: 80px;
    
       
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.banner-left h1{
    font-size: 52px;
    color: #3A3A3A;
    font-weight: 700;
    line-height: 70px;
}

.banner-left p{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 20px 0; 
}

.iconify-inline{
    color: #fff;
}

.common-button:hover{
    top: 3px;
    left: 3px;
    box-shadow: 0 5px 0 #a5075e;
    border: 2px solid #eb397a;
}
.common-button:active{
    top: 3px;
    left: 3px;
    box-shadow: 0 2px 0 #a5075e;
    
}

.banner-right{
    

    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
   
   
    
    
}
.banner-right img{
    
    object-fit: cover;
    height: 414px;
    width: 430px;
    left: 835px;
    top: 211px;
    border-radius: 0px; 
}

.banner-right img:hover
{
    transform: scale(1.2);
    transition: transform 2s ease-in-out ;
    
}

/* Brands */
.brands{
    margin: 70px 165px 100px 165px;

}
hr
{
    border: 0; 
    height: 1px;
    width: 1110px;
    border-radius: 0px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);

}
.brand-logos{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 62px;
}
.brand-logos img
{
    transition: transform .3s ease-in-out;
}
.brand-logos img:hover
{
    
    transform: scale(1.2);
}

/* Card Styling */

.collection{
    margin: 100px 196px;
}

.section-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;    
}


.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 476px;
    width: 329px;
    border-radius: 5px;
    /* border: 2px solid gray; */
    box-sizing: border-box;
    /* box-shadow: 0 0 10px 10px #AAAAAA; */
    box-shadow: 0 0px 35px rgba(0, 0, 0, 0.171);
}
.card-banner img{
 width: 100%;
 object-fit: cover;
}

.card-details
{
    padding-left: 25px;
    width: 100%;
}
.card-title
{
    
    width: 100%;  
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;    
    color: #18191F;

}

.card-price
{
    
    height: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 24px;
    /* line-height: 150%; */
    height: 36px;
    color: rgba(0, 0, 0, 0.87);

}

.card-info{
    display: flex;
    justify-content: flex-start;
    height: 32px;
    
}

.iconify-inline.rating{
    color: #FB8200;
    height: 11px;
    width: 12px;
    left: 3px;
    top: 3px;
    border-radius: 0px;


}

.rating-number{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    color: #5E6366;
}

.details{
    
    height: 61px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.018em;
    color: #787885;
    width: 196px;
}
.see-more
{
    width: 1000px;
}
.see-more a
{
    text-decoration: none;
    color: #E02C6DDE;
    float: right;
    margin: 20px 0px 100px 0px;
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
    transition: transform .35s linear;
}
.see-more .iconify-inline
{
    margin-left: 8px;
    color: #E02C6DDE; 
    
}
.see-more a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
   transform: scale(1.1);
}



/****************************
     Feature Products
******************************/

.featured-products
{
    
    height: 500px;
    
    background-image: url(./images/photo-1.jpg);
    background-repeat: no-repeat;
    background-size: 1349px 500px; 
    background-position:right;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: image-slide 20s ease-in-out 2s infinite  reverse;
}

@keyframes image-slide {
    0%   {background-image: url(./images/photo-2.jpg);}
    25%  {background-image: url(./images/photo-3.jpg);}
    50%  {background-image: url(./images/photo-4.jpg);}
    100% {background-image: url(./images/gear.png);}
  }


.product{
      color: rgb(255, 255, 255);
     text-align: center;
     padding: 110px;
    
  }
.featured-products:hover {
   opacity: 0.95;
   transition: .35s ease-in-out;
}
.featured-products:hover .product{
    background-color: rgba(98, 99, 94, 0.185);
    transition: 0.5s;
 }
  .product h1
  {
      font-size: 48px;
      font-family: 'Roboto', sans-serif;
      
  }
  .product p{
      padding-top: 10px;
      font-size: 16px;
      font-weight: 400px;
  }

/* Button Animation */
.featured-products button
{
    width: 150px;
   /* left: 600px;
   top: 350px; */
   margin: 80px 0 0 600px;
   transition: all .6s ;

}
.buy-now {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .buy-now:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .featured-products button:hover .buy-now {
    padding-right: 30px;
  }
  
  .featured-products button:hover .buy-now:after {
    opacity: 1;
    right: 0;
   
  }


/* Footer CSS */
footer{
    background-color:  #0A0826;
    color: white;    
}
.section-footer
{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-footer h1{
   
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 3px;
    margin-top: 50px;
}
.section-footer p
{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 3px;
}
.social-icons
{
    display: grid;
    grid-template-columns:repeat(4 ,1fr);
    gap: 16px;
   margin-top: 14px;
   margin-bottom: 50px;
}
.footer-icon{
    font-size: 26px;
    background: rgba(255, 255, 255, 0.137);
    padding: 10px;
    border-radius: 50%;
}


/*------------------ 
    Responsive CSS 
--------------------*/

@media (max-width:992px){

    html,body{
        overflow-x: hidden;
    }
    .container
    {
        padding:0 35px;
    }

    nav
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    }
    
    .navbar, .shopping-cart{
        display: block;
    }

    #nav-toggler{
       visibility: hidden;  
    } 
    .nav-toggler-icon{
        
        display: inline;
        color: #1B1B1B;
        margin-left: -17px;

    }
    .nav-title
    {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px 0;
        transform: translateY(-320px);
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: #121212;
    }

   
    /* #nav-toggler:checked ~ .navigation
    {
        transform: translateY(0px);
    } */
    
   .shopping-cart
   {
       display: flex;
       justify-content: right;
   }

    .banner
    {
        grid-template-columns: 1fr;
       
        
    }
    .banner-left
    {
        order: 2;
    }
    

    
    .brand-logos
    {
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
       column-gap: 32px;
       row-gap: 20px;
    }

    .brands hr{
       visibility: hidden;
    }

    .cards
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .see-more{
        width: auto;
    }

    

}


@media (max-width:768px){

  .banner-right
  {
      justify-content: center;
  }
    .cards
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .featured-products button
    {      
    margin: 30px auto;
    }
}

@media (max-width:676px){

.container
{
    padding:0 35px;
    margin: 0;
}
    .banner{
       display: flex;
       flex-direction: column;
       row-gap: 50px;
    }
   
   
    .banner-right img{
        width: 100%;
        height: auto;
    }
    .banner-left h1
    {
        font-size: 45px;
        line-height: 1.3;
    }

    .collection
    {
        margin: 0 35px;
       
    }

    .section-title{
       
        line-height: 1.2;
        margin-bottom: 30px;
        font-size: 20px;
        
    }


    .product h1
    {
        font-size: 35px;
       
        
    }
    .product p{
        /* padding-top: 5px; */
        font-size: 13px;
        font-weight: 400px;
    }

    .featured-products button
    {      
    margin: auto;
    margin-top: -40px;
    
    }

}